table {
	--border-radius: 10px;
	width: 100%;
	max-width: 900px;
	margin: auto;
	border-collapse: collapse;
}
th,
td{
	background-color: #7887ab;
}
thead th:first-child{
	border-top-left-radius: var(--border-radius);
}
thead th:last-child{
	border-top-right-radius: var(--border-radius);
}

